.setupModal {
    box-shadow: rgb(123 123 123) 0px 0px 5px 1px;
    margin: 1rem;
}
.setupModal .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C274C;
    border: 2px solid #EBEBEB;
}
.setupModal .header p {
    color: white;
    font-size: 13px;
    margin: 0;
    padding-left: 1rem;
}
.setupModal .header button {
    padding: 0.25rem;
    transition: 0.5s all ease;
}
.setupModal .content {
    background-color: #ebebeb;
    width: 100%;
    padding: 1rem 1rem;
    text-wrap: nowrap;
    font-size: 15px;
}

.setupModal .content .select {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
}
.setupModal .content .select .options {
    width: 100%;
    position: relative;
    display: inline-block;
}
.setupModal .content .select .options select {
    width: 100%;
    padding: 0.3rem 0.5rem;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    appearance: none;
    outline: none;
}
.setupModal .content .select .options div{
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    pointer-events: none; 
}

.setupModal .content .name {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.setupModal .content .name input {
    width: 100%;
    padding: 0.2rem 0.5rem;
    outline: none;
}